<app-navbar></app-navbar>
<div class="jumbotron text-center ">
    <div class="display-4 ">About Us</div>
    <p class="lead ">This is simple about page</p>
</div>
<div class="container ">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga provident harum vel architecto vitae fugiat
        excepturi neque quasi tempore nemo exercitationem quisquam, autem quidem mollitia aperiam minima dolor sequi.
        Ullam quibusdam excepturi sunt repudiandae sed a quasi itaque, recusandae assumenda hic mollitia optio id
        eligendi adipisci corrupti? Quas omnis quibusdam maiores nulla consectetur incidunt. Ullam, qui ex reprehenderit
        illo aliquid sed deleniti deserunt iste aut laboriosam, fuga laborum asperiores quam corrupti modi
        necessitatibus, provident alias quas enim sequi sit repellendus praesentium velit earum. Voluptates neque
        dolorum pariatur officiis alias eum illo veniam! Asperiores rem perspiciatis, harum quis fugit ipsum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium sed quidem placeat reiciendis alias
        deleniti architecto illo? Nemo impedit mollitia at cum rerum hic quia doloribus cupiditate aspernatur nesciunt.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nobis quod recusandae nihil quas, perspiciatis
        sequi neque, unde ipsum, blanditiis tempora. Ullam impedit magni dolorem aliquam dolor sunt ratione
        exercitationem architecto tempora. Illo quia voluptate totam. Doloremque, debitis? Quas delectus magnam at enim.
        In officia placeat maxime libero, cupiditate ut.</p>
</div>